#find-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%/ 50%;
    overflow: clip;
    width: fit-content;
    height: 3rem;
    background-color: #C33C54;
    box-shadow: .1rem .1rem .3rem black;
    border: solid black 1px;
}

#find-label {
    width: 10rem;
    text-align: center;
    font-size: 1.1rem;
    color: white;
}

#id-text {
    height: 100%;
    border: none;
    width: 15rem;
    border-left: solid black 1px;
    border-right: solid black 1px;
    padding-left: 1rem;
    font-size: 1rem;
}

#id-text:focus {
    border: none;
    border-left: solid black 1px;
    border-right: solid black 1px;
    outline: none;
}

#find-button {
    background-color: #C33C54;
    border: none;
    width: 5rem;
    height: 100%;
    color: white;
}

#more-div {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

#more {
    display: flex;
    align-items: center;
    gap: .75rem;
    background-color: #C33C54;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 25% / 50%;
    border: solid black 1px;
    box-shadow: .3rem .3rem .5rem black;
    transition: letter-spacing 0.3s ease;
}